<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
</head>
<body>
<div th:fragment="Alphabet337">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Аll</a></li>
        <li role="presentation"><a th:href="@{/а}">А</a></li>
        <li role="presentation"><a th:href="@{/б}">Б</a></li>
        <li role="presentation"><a th:href="@{/в}">В</a></li>
        <li role="presentation"><a th:href="@{/г}">Г</a></li>
        <li role="presentation"><a th:href="@{/д}">Д</a></li>
        <li role="presentation"><a th:href="@{/е}">ЕЖ</a></li>
        <li role="presentation"><a th:href="@{/з}">З</a></li>
        <li role="presentation"><a th:href="@{/и}">И</a></li>
        <li role="presentation"><a th:href="@{/к}">К</a></li>
        <li role="presentation"><a th:href="@{/л}">Л</a></li>
        <li role="presentation"><a th:href="@{/м}">М</a></li>
        <li role="presentation"><a th:href="@{/н}">Н</a></li>
        <li role="presentation"><a th:href="@{/о}">О</a></li>
        <li role="presentation"><a th:href="@{/п}">П</a></li>
        <li role="presentation"><a th:href="@{/р}">Р</a></li>
        <li role="presentation"><a th:href="@{/с}">С</a></li>
        <li role="presentation"><a th:href="@{/т}">Т</a></li>
        <li role="presentation"><a th:href="@{/у}">УФ</a></li>
        <li role="presentation"><a th:href="@{/х}">ХЦ</a></li>
        <li role="presentation"><a th:href="@{/ч}">Ч</a></li>
        <li role="presentation"><a th:href="@{/ш}">ШЩ</a></li>
        <li role="presentation"><a th:href="@{/э}">ЭЮЯ</a></li>
    </ul>
</div>
</body>
</html>