<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Admin</title>
    <!--<meta charset="UTF-8"/>-->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script src="../static/js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script src="../../resources/static/jquery/jquery-3.2.1.min.js" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/getrequest.js" th:src="@{/js/getrequest.js}"></script>

</head>

<body>

<nav class="navbar navbar-toggleable-md bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/}">ТЕЛЕФОННЫЙ СПРАВОЧНИК</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills" role="navigation">
            <li class="dropdown">
                <a class="btn btn-outline-primary" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Структура предприятия</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/handbooks/createTree}">Создание структуры предприятия</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/handbooks/tree}">Просмотр структуры предприятия</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-primary" th:href="@{/handbooks}">Справочники</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-secondary" th:href="@{/logout}">Выйти</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/adminEdit}" method="post" th:object="${litera}">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" id="litera" name="litera"
                   autofocus="autofocus">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск по фамилии</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">

        <h4>Администратор</h4>
        <table class="table table-hover">
            <thead class="thead-default">
            <tr>
                <th scope="row">#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Внутренний</th>
                <th>Городской</th>
                <th>Мобильный</th>
                <th>Должность</th>
            </tr>
            </thead>
            <tr th:each="person : ${persons}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.sName}"></td>
                <td th:text="${person.numberShot}"></td>
                <td th:text="${person.numberCity}"></td>
                <td th:text="${person.numberMobil}"></td>
                <td th:text="${person.presentPosition}"></td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a th:href="${'/adminEdit/view/' + person.id}"
                           title="VIEW Person"><span class="badge badge-default" data-toggle="tooltip"
                                                     data-placement="top" title="Просмотреть без изменений (безопасно)">View</span></a>
                        <a th:href="${'/adminEdit/edit/' + person.id}"
                           title="Изменить запись"><span class="badge badge-success">Edit</span></a>
                        <a th:href="${'/adminEdit/clone/' + person.id}"
                           title="Сделать точную копию записи"><span class="badge badge-default">Clon</span></a>
                        <a th:href="${'/adminEdit/delete/' + person.id}"
                           title="Удалить запись. Операция необратима!"><span class="badge badge-danger">Del</span></a>
                    </div>

                </td>
            </tr>
        </table>

        <div class="container">
            <div class="row">

                <div th:if="${persons.totalPages != 1}" class="form-group">
                    <ul class="pagination">
                        <li th:class="${persons.number == 0} ? disabled">
                            <a class="page-link"
                               th:href="@{/adminEdit/${litera}(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                        </li>
                        <li th:class="${persons.number == 0} ? disabled">
                            <a class="page-link"
                               th:href="@{/adminEdit/${litera}(pageSize=${selectedPageSize}, page=${persons.number})}">&larr;</a>
                        </li>
                        <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="page-link"
                               th:href="@{/adminEdit/${litera}(pageSize=${selectedPageSize}, page=${page})}"
                               th:text="${page}"></a>
                        </li>
                        <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                            <a class="page-link"
                               th:href="@{/adminEdit/${litera}(pageSize=${selectedPageSize}, page=${persons.number + 2})}">&rarr;</a>
                        </li>
                        <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                            <a class="page-link"
                               th:href="@{/adminEdit/${litera}(pageSize=${selectedPageSize}, page=${persons.totalPages})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card card-outline-success mb-3 text-center">
                <div class="card-block">
                    <blockquote class="card-blockquote">

                        <form th:action="@{/adminEdit/save}" method="post" th:object="${person}">

                            <div class="form-group row">
                                <label for="family" class="col-2 col-form-label">Фамилия*</label>
                                <div class="col-6">
                                    <input class="form-control" type="text" value="" placeholder="Иванов*"
                                           id="family" th:field="${person.lastName}" required="required"/></input>
                                </div>
                                <small id="familySmall" class="form-text text-muted">Поле обязательно для заполнения!
                                    (50)
                                </small>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-2 col-form-label">Имя</label>
                                <div class="col-6">
                                    <input class="form-control" type="text" value="" placeholder="Иван"
                                           id="name" th:field="${person.firstName}"/></input>
                                </div>
                                <small id="nameSmall" class="form-text text-muted">(50 символов максимум)</small>
                            </div>

                            <div class="form-group row">
                                <label for="sName" class="col-2 col-form-label">Отчество</label>
                                <div class="col-6">
                                    <input class="form-control" type="text" value="" placeholder="Иванович"
                                           id="sName" th:field="${person.sName}"/></input>
                                </div>
                                <small id="sNameSmall" class="form-text text-muted">(100)</small>
                            </div>

                            <div class="form-group row">
                                <label for="presentPosition" class="col-2 col-form-label">Должность</label>
                                <div class="col-6">
                                    <select class="form-control" id="presentPosition" th:field="*{presentPosition}">
                                        <option th:each="presentPosition : ${listAllPositions}"
                                                th:value="${presentPosition.id}"
                                                th:text="${presentPosition.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="telephoneShot">Короткий номер
                                </label>
                                <div class="col-2">
                                    <input type="text" id="telephoneShot" class="form-control" placeholder="226"
                                           th:field="${person.numberShot}"/></input>
                                </div>
                                <small id="telShot" class="form-text text-muted">Внутренний рабочий номер (10)</small>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="telephoneCity">Городской номер
                                </label>
                                <div class="col-2">
                                    <input type="text" id="telephoneCity" class="form-control" placeholder="225-55-15"
                                           th:field="${person.numberCity}"/></input>
                                    <!--pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}"-->
                                </div>
                                <small id="telCity" class="form-text text-muted">Городской номер в международном формате
                                    (30)
                                </small>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label" for="telephone">Мобильный телефон
                                </label>
                                <div class="col-2">
                                    <input type="text" id="telephone" class="form-control"
                                           placeholder="375-29-622-33-44"
                                           th:field="${person.numberMobil}"
                                           pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"/></input>
                                </div>
                                <small id="tel" class="form-text text-muted">В формате xxx-xx-xxx-xx-xx (30)</small>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Записать данные в БД</button>
                        </form>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!--<div th:replace="fragments/footer :: footer"/>-->
    <p class="lead" th:inline="text">пользователь: [[${#httpServletRequest.remoteUser}]] (Spring Security protected)</p>
    <br>
    <br>
    <br>
    <br>
    <small id="info" class="form-text text-muted">developer: Ushakov Vitaly</small>
    <small id="info2" class="form-text text-muted">vinty1978@gmail.com</small>

    <button type="button" class="btn btn-primary" id="btnId">Open Modal</button>

    <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    Тут тоже что-то написано...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>