<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <div th:replace="fragments/headerAdmin :: headerHead"/>
</head>
<body>
<div th:replace="fragments/headerAdmin :: headerAdmin"/>
<div class="col-md-8">
    <div class="card">
        <h3 class="card-header">Редактирование записи</h3>

        <div class="card-block">

            <form id="formEdit" role="form" th:action="@{/adminEdit/edit/update}" method="post"
                  th:object="${person}">

                <input type="hidden" th:field="*{id}" id="id" name="id"/>
                <!--<input type="hidden" th:field="*{alphabet}"/>-->
                <div class="col-md-3">
                    <label for="inputId">ID</label>
                    <input type="text" class="form-control" disabled="disabled" id="inputId" placeholder="ID"
                           th:field="*{id}" name="inputId"/>
                </div>
                <div class="col-md-3">
                    <label for="alphabet">Алфавитный указатель</label>
                    <input type="text" class="form-control" id="alphabet" placeholder="alphabet"
                           th:field="*{alphabet}" name="alphabet" pattern="[а-я]{1}"/>
                    <small id="alphabetic" class="form-text text-muted">Измените в случае смены фамилии</small>
                    <br>
                </div>
                <div class="card">
                <h5 class="card-header">После изменения записи нажмите "Изменить запись" или клавишу ENTER</h5>
                <div class="col-md-6">
                    <label for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Фамилия"
                           th:field="*{lastName}" name="lastName"
                           required="required"/>
                </div>
                <div class="col-md-6">
                    <label for="firstName">Имя</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Имя"
                           th:field="*{firstName}" name="firstName"/>
                </div>
                <div class="col-md-6">
                    <label for="sName">Отчество</label>
                    <input type="text" class="form-control" id="sName" placeholder="Отчество"
                           th:field="*{sName}" name="sName"/>
                </div>
                <div class="col-6">
                    <label for="presentPosition">Должность</label>
                    <select class="form-control" id="presentPosition" th:field="*{presentPosition}">
                        <option th:each="presentPosition : ${listAllPositions}"
                                th:value="${presentPosition.id}"
                                th:text="${presentPosition.name}">
                        </option>
                    </select>
                </div>
                <div class="col-12">
                    <label for="tree">Иерархия</label>
                    <select class="form-control" id="tree" th:field="*{treeId}">
                        <option th:each="tree : ${listAllTrees}"
                                th:value="${tree.id}"
                                th:text="${tree.branchId.name}+'_'
                                                +${tree.chiefExecutiveId.name}+'_'
                                        +${tree.presentPosition1Id.name}+'_'
                                        +${tree.presentPosition2Id.name}+'_'
                                        +${tree.presentPosition3Id.name}+'_'
                                        +${tree.presentPosition4Id.name}+'_'
                                        +${tree.presentPosition5Id.name}">
                        </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="numberShot">Короткий номер</label>
                    <input type="text" class="form-control" id="numberShot" placeholder="3451"
                           th:field="*{numberShot}" name="numberShot"/>
                </div>
                <div class="col-md-6">
                    <label for="cityNumber">Городской номер</label>
                    <input type="text" class="form-control" id="cityNumber" placeholder="xxx-xx-xx"
                           th:field="*{numberCity}" name="cityNumber"/>
                </div>
                <div class="col-md-6">
                    <label for="mobileNumber">Мобильный номер</label>
                    <input type="text" class="form-control" id="mobileNumber"
                           placeholder="xxx-xx-xxx-xx-xx"
                           th:field="*{numberMobil}" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                           name="mobileNumber"/>
                </div>
                <div class="col-md-6">
                    <label for="room">Номер кабинета</label>
                    <input type="text" class="form-control" id="room" placeholder="202"
                           th:field="*{room}" name="room"/>
                </div>
                    <br>
                </div>
                <div class="col-md-6">
                    <br>
                    <label class="mr-sm-1" for="back"></label>
                    <a th:href="@{/adminEdit}" id="back" class="btn btn-secondary btn-md">Вернуться</a>
                    <label class="mr-sm-1" for="back"></label>
                    <button type="submit" class="btn btn-outline-primary btn-md">Изменить запись</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>