<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ERROR!!!</title>
    <div th:replace="fragments/headerAdmin :: headerHead"/>
</head>
<body>
<nav class="navbar navbar-toggleable-md bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/}">ТЕЛЕФОННЫЙ СПРАВОЧНИК</a>
</nav>
<div class="alert alert-danger" role="alert">
    <h1><strong>Что-то недоброе сделалось в этом софте... </strong></h1>
    <p>Видимо, зря ты решил сделать  странное, кнопку нажав...</p>
    <p>Кубик убрать пирамиды ты зря захотел!</p>
    <p>Все в этом мире завязано между собой...</p>
    <p>Ты  на сраданья обрек весь админов отдел...</p>

</div>
<div><img alt=logo th:src='@{/pic/yoda.jpg}'></div>
</body>
</html>