<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script src="../static/js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script src="../../resources/static/jquery/jquery-3.2.1.min.js" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/getrequest.js" th:src="@{/js/getrequest.js}"></script>

    <style type="text/css">
        body {
            background-image: url('/pic/2145.jpg');
            background-size: 100%;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-toggleable-md bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/}">ТЕЛЕФОННЫЙ СПРАВОЧНИК</a>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <form th:action="@{/login}" method="post">
                <div>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>
                    <h1 class="display-4">Авторизуйтесь</h1>
                    <p class="h2">что бы иметь возможность</p>
                    <p class="h2">изменять данные</p>
                    <label for="username" class="col-2 col-form-label"><strong>Login: </strong></label>
                    <input class="form-control" type="text" name="username" id="username" autofocus="true"></input>

                    <label for="password" class="col-2 col-form-label"><strong>Password: </strong></label>
                    <input class="form-control" type="password" name="password" id="password"></input><br></br>

                    <button type="submit" class="btn btn-primary btn-lg btn-block">Войти в систему</button>
                    <div th:replace="fragments/footer :: footer"/>
                </div>

            </form>
        </div>
        <div class="col-md-3">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div><img alt=logo th:src='@{/pic/lock.png}'>
            </div>
        </div>
    </div>

</body>
</html>