<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Persons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/js/bootstrap.min.js" th:href="@{/js/jquery-3.2.1.min.js}" rel="stylesheet" media="screen"/>
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <!--<script th:inline="javascript">-->
    <!--$(document).ready(function() {-->
    <!--$('h1').animate({-->
    <!--fontSize: '42px'-->
    <!--}, "slow");-->
    <!--});-->
    <!--</script>-->
    <style type="text/css">
        body {
            background-image: url('/pic/2144.jpg');
            background-size: 100%;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
</div>
<div class="container">
    <div class="row">
        <div th:replace="fragments/headerAlphabet337 :: Alphabet337"/>
        <!--<div><img alt=logo th:src='@{/pic/fon.jpg}'>-->
        <!--<a class='btn btn-primary' href='#'><img th:src='@{/pic/find.png}'></a>-->
        <h1>Телефонный справочник</h1>
    </div>
    <div class="row">
        <div th:replace="fragments/table :: table"/>
        <!--<div th:replace="fragments/table4Alpha :: table4Alpha"/>-->
    </div>
    <div class="row">

        <div th:if="${persons.totalPages != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/${litera}(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                </li>
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/${litera}(pageSize=${selectedPageSize}, page=${persons.number})}">&larr;</a>
                </li>
                <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <!--/*@thymesVar id="litera" type=""*/-->
                    <a class="pageLink" th:href="@{/${litera}(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/${litera}(pageSize=${selectedPageSize}, page=${persons.number + 2})}">&rarr;</a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/${litera}(pageSize=${selectedPageSize}, page=${persons.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>

<script th:src="@{../static/js/app.js}"></script>
<script th:src="@{../static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>

</body>
</html>