<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Persons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/js/jquery-3.2.1.min.js" th:href="@{/js/jquery-3.2.1.min.js}" rel="stylesheet" media="screen"/>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

<div th:replace="fragments/header :: header"/></div>
<div class="container">
    <div class="row">
        <h1>Телефонный справочник</h1>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>внутренний</th>
                <th>Городской</th>
                <th>Мобильный</th>
                <th>Должность</th>
            </tr>
            </thead>
            <tr th:each="person : ${listAllPersons}">
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.sName}"></td>
                <td th:text="${person.numberShot}"></td>
                <td th:text="${person.numberCity}"></td>
                <td th:text="${person.numberMobil}"></td>
                <td th:text="${person.presentPositionS}"></td>
            </tr>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>

<script th:src="@{../static/js/app.js}"></script>
<script th:src="@{../static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>

</body>
</html>