<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Persons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/js/bootstrap.min.js" th:href="@{/js/jquery-3.2.1.min.js}" rel="stylesheet" media="screen"/>
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <!--<script th:inline="javascript">-->
    <!--$(document).ready(function() {-->
    <!--$('h1').animate({-->
    <!--fontSize: '42px'-->
    <!--}, "slow");-->
    <!--});-->
    <!--</script>-->
    <style type="text/css">
        body {
            background-image: url('/pic/2144.jpg');
            background-size: 100%;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
</div>
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">Аll</a></li>
            <li role="presentation"><a th:href="@{/а}">А</a></li>
            <li role="presentation"><a th:href="@{/б}">Б</a></li>
            <li role="presentation"><a th:href="@{/в}">В</a></li>
            <li role="presentation"><a th:href="@{/г}">Г</a></li>
            <li role="presentation"><a th:href="@{/д}">Д</a></li>
            <li role="presentation"><a th:href="@{/е}">ЕЖ</a></li>
            <li role="presentation"><a th:href="@{/з}">З</a></li>
            <li role="presentation"><a th:href="@{/и}">И</a></li>
            <li role="presentation"><a th:href="@{/к}">К</a></li>
            <li role="presentation"><a th:href="@{/л}">Л</a></li>
            <li role="presentation"><a th:href="@{/м}">М</a></li>
            <li role="presentation"><a th:href="@{/н}">Н</a></li>
            <li role="presentation"><a th:href="@{/о}">О</a></li>
            <li role="presentation"><a th:href="@{/п}">П</a></li>
            <li role="presentation"><a th:href="@{/р}">Р</a></li>
            <li role="presentation"><a th:href="@{/с}">С</a></li>
            <li role="presentation"><a th:href="@{/т}">Т</a></li>
            <li role="presentation"><a th:href="@{/у}">УФ</a></li>
            <li role="presentation"><a th:href="@{/х}">ХЦ</a></li>
            <li role="presentation"><a th:href="@{/ч}">Ч</a></li>
            <li role="presentation"><a th:href="@{/ш}">ШЩ</a></li>
            <li role="presentation"><a th:href="@{/э}">ЭЮЯ</a></li>
        </ul>

        <!--<div><img alt=logo th:src='@{/pic/fon.jpg}'>-->
        <!--<a class='btn btn-primary' href='#'><img th:src='@{/pic/find.png}'></a>-->

        <h1>Телефонный справочник</h1>

    </div>
    <div class="row">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>внутренний</th>
                <th>Городской</th>
                <th>Мобильный</th>
                <th>Отделение</th>
                <th>Подразделение</th>
                <th></th>
                <th>Должность</th>
                <th>Каб.</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="person : ${persons}">
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.sName}"></td>
                <td th:text="${person.numberShot}"></td>
                <td th:text="${person.numberCity}"></td>
                <td th:text="${person.numberMobil}"></td>
                <td th:text="${person.branchS}"></td>
                <td th:text="${person.treeS}"></td>
                <td>
                    <!--<div class="btn-group" role="group" aria-label="...">-->
                    <!--<a th:href="${'/personBranch/byTreeId/' + person.treeId}"-->
                    <!--title="VIEW Person"><span class="badge badge-default" data-toggle="tooltip"-->
                    <!--data-placement="top" title="Просмотреть без изменений (безопасно)">View</span></a>-->
                    <!--</div>-->
                    <a th:href="${'/personBranch/byTreeId/' + person.treeId}"><img th:src='@{/pic/icons8.png}'></a>
                </td>
                <td th:text="${person.presentPositionS}"></td>
                <td th:text="${person.room}"></td>
                <td>
                    <a th:href="${'/personBranch/byRoom/' + person.room}"><img th:src='@{/pic/office.png}'></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">

        <div th:if="${persons.totalPages != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/${litera}(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                </li>
                <li th:class="${persons.number == 0} ? disabled">
                    <a class="pageLink" th:href="@{/${litera}(pageSize=${selectedPageSize}, page=${persons.number})}">&larr;</a>
                </li>
                <li th:class="${persons.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <!--/*@thymesVar id="litera" type=""*/-->
                    <a class="pageLink" th:href="@{/${litera}(pageSize=${selectedPageSize}, page=${page})}"
                       th:text="${page}"></a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/${litera}(pageSize=${selectedPageSize}, page=${persons.number + 2})}">&rarr;</a>
                </li>
                <li th:class="${persons.number + 1 == persons.totalPages} ? disabled">
                    <a class="pageLink"
                       th:href="@{/${litera}(pageSize=${selectedPageSize}, page=${persons.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>

<script th:src="@{../static/js/app.js}"></script>
<script th:src="@{../static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery-3.2.1.min.js}"></script>

</body>
</html>