<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Admin</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen">


</head>

<body>

            <form id="form" role="form" th:action="@{/adminEdit/save}" method="post" th:object="${person}">

                    <label for="name" >Name</label>
                        <input class="form-control" type="text" value="" placeholder="Name Person"
                               id="name" th:field="${person.firstName}"/></input>

                    <label for="family" >Family*</label>
                        <input class="form-control" type="text" value="" placeholder="Family Person*"
                               id="family" th:field="${person.lastName}" required="required"/></input>
                    <label  for="telephoneShot">Shot number             </label>
                        <input class="form-control" type="text" id="telephoneShot"  placeholder="226"
                               th:field="${person.numberShot}"/></input>
                    <label  for="telephoneCity">City number                    </label>
                        <input class="form-control" type="text" id="telephoneCity"  placeholder="225-55-15"
                               th:field="${person.numberCity}"
                               pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}"/></input>
                    <label  for="telephone">Mobile Telephone                    </label>
                        <input  class="form-control" type="text" id="telephone"  placeholder="375-29-622-33-44"
                               th:field="${person.numberMobil}"
                               pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"/></input>
                <button type="submit" >Записать данные в БД</button>
            </form>
</body>
</html>