<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<title>Admin</title>
<head>
    <title>Admin</title>
    <div th:replace="fragments/headerAdmin :: headerHead"/>
</head>

<body>
<div th:replace="fragments/headerAdmin :: headerAdmin"/>
<div class="container-fluid">
    <h2>Иерархия</h2>
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Структура предприятия</h1>
        <p class="lead">Структура должна содержать иерархическую последовательность от более общей сущности к частной.
            (255 максимальное число
            символов)</p>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead class="thead-default">
                    <tr>
                        <th scope="row">Отделение</th>
                        <th>Руководитель</th>
                        <th><span class="badge badge-pill badge-info"><--подчиняется</span></th>
                        <th><span class="badge badge-pill badge-info"><--подчиняется</span></th>
                        <th><span class="badge badge-pill badge-info"><--подчиняется</span></th>
                        <th><span class="badge badge-pill badge-info"><--подчиняется</span></th>
                        <th><span class="badge badge-pill badge-info"><--подчиняется</span></th>
                    </tr>
                    </thead>
                    <tr th:each="trees : ${listAllTrees}">
                        <td th:text="${trees.branchId.name}"></td>
                        <td th:text="${trees.chiefExecutiveId.name}"></td>
                        <td th:text="${trees.presentPosition1Id.name}"></td>
                        <td th:text="${trees.presentPosition2Id.name}"></td>
                        <td th:text="${trees.presentPosition3Id.name}"></td>
                        <td th:text="${trees.presentPosition4Id.name}"></td>
                        <td th:text="${trees.presentPosition5Id.name}"></td>
                        <td>
                            <a th:href="${'/handbooks/tree/deleteTree/' + trees.id}"
                               title="Удалить запись."><span
                                    class="badge badge-danger">Удаление из справочника</span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr class="my-4">
    </div>
</div>
</body>
</html>