<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="form-group">-->
            <!--<div class="panel-body">-->
                <!--<div class="form-group">-->
                    <!--<label for="inputId">ID</label>-->
                    <!--<input type="text" class="form-control" id="inputId" placeholder="ID" th:field="*{person.id}"-->
                           <!--name="id" disabled="disabled"/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="inputLastName">Last Name</label>-->
                    <!--<input type="text" class="form-control" id="inputLastName" placeholder="Last Name"-->
                           <!--th:field="*{person.lastName}" name="lastName" disabled="disabled"/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="inputFirstName">First Name</label>-->
                    <!--<input type="text" class="form-control" id="inputFirstName" placeholder="First Name"-->
                           <!--th:field="*{person.firstName}" name="firstName" disabled="disabled"/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="inputMobileNumber">Mobile Number</label>-->
                    <!--<input type="text" class="form-control" id="inputMobileNumber" placeholder="Mobile No."-->
                           <!--th:field="*{person.numberMobil}" name="mobileNumber" disabled="disabled"/>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="numberShot">Shot Number</label>-->
                    <!--<input type="text" class="form-control" id="numberShot" placeholder="3451"-->
                           <!--th:field="*{person.numberShot}" name="numberShot" disabled="disabled"/>-->
                <!--</div>-->
                <!--<div class="text-right">-->
                    <!--<a href="/adminEdit" th:href="@{/adminEdit}" class="btn btn-default">Back</a>-->
                    <!--&lt;!&ndash;<a th:href="@{'/adminEdit/edit/' + ${person.id}}" class="btn btn-primary">Edit</a>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>
