<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <link href="../static/js/bootstrap.min.js" th:href="@{/css/bootstrap.min.js}" rel="stylesheet" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>View</title>

    <script type="text/javascript">
        $(document).ready(function () {
            $('h1').animate({
                fontSize: '46px'
            }, "slow");
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('h1').animate({
                fontSize: '40px'
            }, "slow");
        });
    </script>
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-success" role="alert">
                    <h1>Просмотр записи</h1>
                    <div class="col-md-3">
                        <label for="inputId">ID</label>
                        <input type="text" class="form-control" id="inputId" placeholder="ID" th:field="*{person.id}"
                               name="id" disabled="disabled"/>
                    </div>
                    <div class="col-md-3">
                        <label for="inputId">Алфавитный поиск</label>
                        <input type="text" class="form-control" id="inputId" placeholder="Alphabet"
                               th:field="*{person.alphabet}"
                               name="id" disabled="disabled"/>
                        <small id="alphabet" class="form-text text-muted">Измените в случае смены фамилии</small>
                    </div>
                </div>
                <div class="alert alert-warning" role="alert">
                    <div class="col-md-6">
                        <label for="inputLastName">Фамилия</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name"
                               th:field="*{person.lastName}" name="lastName" disabled="disabled"/>
                    </div>
                    <div class="col-md-6">
                        <label for="inputFirstName">Имя</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name"
                               th:field="*{person.firstName}" name="firstName" disabled="disabled"/>
                    </div>
                    <div class="col-md-6">
                        <label for="numberShot">Короткий номер</label>
                        <input type="text" class="form-control" id="numberShot" placeholder="3451"
                               th:field="*{person.numberShot}" name="numberShot" disabled="disabled"/>
                    </div>
                    <div class="col-md-6">
                        <label for="numberCity">Городской номер</label>
                        <input type="text" class="form-control" id="numberCity" placeholder="249-98-73"
                               th:field="*{person.numberCity}" name="numberCity" disabled="disabled"/>
                    </div>
                    <div class="col-md-6">
                        <label for="inputMobileNumber">Мобильный номер</label>
                        <input type="text" class="form-control" id="inputMobileNumber" placeholder="Mobile No."
                               th:field="*{person.numberMobil}" name="mobileNumber" disabled="disabled"/>
                    </div>
                </div>

                <ul class="nav nav-pills nav-justified">
                    <li><a href="/adminEdit" class="btn btn-outline-info" role="button">
                        Вернуться</a></li>
                    <li><a th:href="@{'/adminEdit/edit/' + ${person.id}}" class="btn btn-outline-success" role="button">Войти в режим редактирования</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
<!--<div class="row">-->

<!--<div class="col-md-12">-->
<!--<input class="form-control" type="text" value="" placeholder="Name Person"-->
<!--id="name" th:field="${person.firstName}"/>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
</body>
</html>